certifi @ file:///C:/b/abs_4f5wo627a3/croots/recipe/certifi_1663615677642/work/certifi
click==8.1.3
colorama==0.4.5
Flask==2.2.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.1
nltk==3.7
numpy==1.23.3
regex==2022.9.13
torch==1.12.1
tqdm==4.64.1
typing_extensions==4.3.0
Werkzeug==2.2.2
wincertstore==0.2
