<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <title>Foodie Chatbot</title>
        </head>
        <body>
            <section>
                <br>
                <br>
                <h1>Welcome to Foodie Restaurant! </h1>

            <div class="chatbox">
                <div>
                <button class="chat-btn">
                    <img src="{{ url_for('static', filename='icon-chatbot.PNG') }}" />
                </button>
                </div>

    
                <!-- pop up -->
                <div class="chat-popup">

                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="static/icon-chatbot.PNG" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4> FoodieBot </h4>
                            <p class="chatbox__description--header">Hi. My name is Foodie. How can I help you? </p>
                        </div>
                    </div>
        
                    <!-- start red chat badge -->
                    <div class="badge">1</div>
    
                    <!-- inside chat box area -->
                    <div class="chat-area" id="chatId">
                        <div class="income-msg">
                            <img src="static/icon-chatbot.PNG" alt="image">
                            <span class="msg">Start typing....</span>
                        </div>
                    </div>
    
                    <!-- input area into chat -->
                    <div class="input-area">
                        <input type="text" (keyup.enter)= "sendit($event.target.value)" tabindex="-1"/>
                        <button class="submit">
                            <i class="material-icons">
                                send
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <h3>Click on the chat button to start chatting</h3>
            </section>
    
            
    
            <!-- javascript libraries -->
            <script type="text/javascript" src="static/main.js"></script>
        </body>
    </html>